@charset "utf-8";

@import "bourbon";
@import "neat";

$foo: #eee;

body {
	background-color: $foo;
	padding: 20px;
}

.mydiv {
	display: flex;
}

h1 {
	//@include linear-gradient(to top, red, orange);
	text-align: center;
	color: #555;
	border-radius: 12px;
	border: 5px solid yellow;
}

div {
	line-height: 2em;
	text-align: left;
	padding: 1em;
}

.wrapper {
	@include outer-container;
}

div#alpha {
	@include span-columns(6);
}

div#beta {
	@include span-columns(6);
}

.flex {
	@include display(flex);
	@include flex-direction(row);
	@include align-items(flex-start);
	@include justify-content(space-between);
}

.flex > .box {
	@include flex(1);
}
