// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	height: 9rem;
	width: 100%;
	@include linear-gradient(to top, $md-orange-200, $md-blue-300);
	h1 {
		margin: 0;
		padding-top: 2rem;
	}
	h1, p {
		color: #fff;
		text-align: center;
		font-weight: bold;
	}
}